{% set page_name = 'Home' %}
{% extends "templates/layout.html" %}
{% block content %}
<div id="content">
    <div class="container">
        <h3>pages/index.html page</h3>
    </div>
</div>
{% endblock %}